 * {
  margin: 0;
  padding: 0;
 
 }


 *, *::before, *::after {
  box-sizing: border-box;
}
 


@font-face {
  font-family: 'Mechanical';
  src: url(/src/fonts/Mechanical\ Demo.ttf) format('truetype');
}

@font-face {
  font-family: 'Monster ';
  src: url(/src/fonts/Montserrat.ttf) format('truetype');
}
 

  #header-name {  
    margin: 0;
    font-family: 'Monster';
    display: flex;
    font-size: 55px;
    justify-content: center;
    align-items:flex-end;
    right: 15%;
    color: #fff;
    margin-top: 1%;
  }

  #header-container {
    display: flex;
    justify-content: end  ;
    align-items: center;
    padding-top: 260px; 
    padding-bottom: 260px;
    background: linear-gradient(to right, #000080, #757775);
    animation: animateBackground 5s infinite;
    margin: 0 0 20px 20;

  }

  .scroll-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background:#fff;
    cursor: pointer;
    border-radius: 0px 0px 20px 20px;
    }

  .scroll-button:hover{
    background: linear-gradient(to right, #000080, #757775);
    animation: animateBackground 5s infinite;
    transition: ease-in 1s;
  }
  
  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }


  #body-div{
    margin: 3% 8%;
    padding: 3% 0  ;
    background-color: #191970;
    border-radius: 30px;
    margin-top: 100%;
  }
  
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Darumadrop One', cursive;
    box-sizing: border-box;
   
  }
  
 .welcome-h1{
  color: #fff;
  text-align: center;
  font-size: 84px;
  padding-bottom: 190px;
 }

  #introduction {
    color: rgb(248,248,242);
    position: relative;
    left: 10%;
    margin-bottom: 150px;
    font-family: 'Darumadrop One', cursive;
    background-color: #556B2F;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 0px 6px 10px #757775; 
    border: 2px solid transparent;  
    background-clip: content-box;
    max-width: 56%;
    max-height: 65%;
  }

  

  #terminal-up-line{
    background-color:#D9D9D9;
    
  }

 
  
  .box-prof-card {
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
    padding-top: 25px;
    padding-top: 10px;
    color: white;
    font-size: 34px ;
  }

  .underline::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #32CD32;
    margin-top: 2px;
    margin-bottom: 20px;
} 
.info-pic-container{
  padding-bottom: 20px;
}

.info{
  padding-left: 3%;
  width: 50%;
}

.pic-terminal{
  width: 50%;
  padding-left: 10%;
}
  

  #resume{
    margin-top: 150px;
    margin-left: 25%;
  }

  #resume-h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .resume-container{
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,1); 
    margin-right: 725px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #fff;
    width: 70%;
  }

  #resume-text{
    margin-bottom: 20px;
  }
  