 * {
  margin: 0;
  padding: 0;
 
 }


 *, *::before, *::after {
  box-sizing: border-box;
}
 
.App {
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

@font-face {
  font-family: 'Mechanical';
  src: url(/src/fonts/Mechanical\ Demo.ttf) format('truetype');
}

@font-face {
  font-family: 'Monster ';
  src: url(/src/fonts/Montserrat.ttf) format('truetype');
}
 

#body-div{
  margin: 5% 8%;
  padding: 5% 0  ;
  background-color: rgb(158, 160, 160);
  border-radius: 30px;
  
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Monster';
  box-sizing: border-box;
 
}


  #header-name {  
    margin: 0;
    font-family: 'Monster';
    display: flex;
    font-size: 55px;
    justify-content: center;
    align-items:flex-end;
    right: 15%;
  }

  #header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 260px; 
    padding-bottom: 260px;
    background-color: rgb(158, 160, 160);
    margin: 0 0 20px 20;
  }


  #introduction {
    position: relative;
    left: 10%;
    margin-bottom: 150px;
    font-family: 'Monster ';
    background-color: rgb(253, 253, 253);
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,1); 
    border: 2px solid transparent;  
    background-clip: content-box;
    max-width: 45%;
    max-height: 6 5%;
  }

  .inner-content {
    padding: 20px; /* Adjust this as needed */
    background-color: rgb(253, 253, 253);
    border-radius: 20px;

}

  #resume{
    margin-top: 150px;
    margin-left: 25%;
  }

  #resume-h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .resume-container{
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,1); 
    margin-right: 725px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #fff;
    width: 70%;
  }

  #resume-text{
    margin-bottom: 20px;
  }
  